.chat {
  display: flex;
  &-list {
    width: 310px;
    background: #fbfbfb;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    padding: 0 10px;
    &__form-container {
      margin-top: 23px;
    }
    &__chats-list {
      margin-top: 12px;
      list-style-type: none;
    }
    &__profile-link {
      display: block;
      text-decoration: none;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      text-align: right;
      color: #999999;
    }
  }
  &-search-form {
    &__input {
      background: #efefef;
      border-radius: 5px;
      border: 1px transparent solid;
      height: 32px;
      width: 100%;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      color: #999999;
      text-align: center;
      &:focus {
        outline: transparent;
        border: 1px black solid;
      }
    }
  }
  &-add-form {
    margin-top: 20px;
    &__input {
      background: #efefef;
      border-radius: 5px;
      border: 1px transparent solid;
      height: 32px;
      width: 100%;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      color: #999999;
      text-align: center;
      &:focus {
        outline: transparent;
        border: 1px black solid;
      }
    }
    &__submit-button {
      text-align: center;
      color: #fff;
      height: 37px;
      width: 100%;
      background: #3369f3;
      border: none;
      border-radius: 8px;
      margin-top: 20px;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 13px;
    }
  }
  &-window {
    border-right: 1px solid #eaeaea;
    width: 970px;
    &__title {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      margin-top: 30px;
      margin-left: 20px;
      line-height: 20px;
      color: #1e1e1e;
    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      border-bottom: 1px solid #eaeaea;
    }
    &__footer {
      margin-top: 30px;
      height: 54px;
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      padding: 0 20px;
      display: flex;
      align-items: center;
    }
    &__left-block {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    &__right-block {
      display: flex;
      gap: 20px;
      align-items: center;
    }
    &__content {
      padding: 0 15px;
    }
    &__date {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      color: #999999;
    }
  }
  &-messages-list {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &-message {
    &__container {
      background-color: #f8f8f8;
      width: 400px;
      padding: 11px;
      border-radius: 0px 15px 15px 0px;
      &_mine {
        align-self: flex-end;
      }
    }
    &__text {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: #1e1e1e;
    }
    &__date {
      font-style: normal;
      font-weight: 500;
      font-size: 9px;
      line-height: 9px;
      text-align: right;
      color: #999999;
    }
  }
}
