.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 510px;
  margin: 0 auto;
  gap: 60px;
  &__avatar {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-image {
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
  }
  &__user-name {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #1e1e1e;
    text-align: center;
    margin-top: 21px;
  }
  &__links-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: left;
    width: 100%;
    list-style: none;
  }
  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #3369f3;
    text-decoration: none;
  }
  &-form {
    width: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__error {
      color: red;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
    }
    &__label {
      position: absolute;
      left: 0;
      bottom: 8px;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
      color: #1e1e1e;
    }
    &__input {
      border: none;
      border-bottom: 1px solid #eaeaea;
      background-color: transparent;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
      text-align: right;
      width: 100%;
      color: #999999;
      border: transparent;
      margin-top: 12px;
      &.input-error {
        outline: transparent;
        border-bottom: 1px red solid;
      }
      &:focus {
        outline: transparent;
        border-bottom: 1px solid #3369f3;
      }
      &-container {
        display: flex;
        height: 33px;
        position: relative;
      }
    }
    &__submit-button {
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
      text-align: center;
      color: #ffffff;
      background: #3369f3;
      border-radius: 8px;
      width: 280px;
      height: 37px;
      margin: 60px auto;
      &:disabled {
        background-color: gray;
      }
    }
  }
  &__data {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px gray solid;
  }
  &__label {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #1e1e1e;
  }
  &__value {
    font-size: 13px;
    line-height: 13px;
    color: #999999;
    font-weight: 500;
  }
}
