include ../sign-form/sign-form
+sign-form('Войти',[
	{
	label:'Логин',
	labelFor:'login',
	type:'text',
	name:'login',
	id:'login',
	placeholder:'Введите имя',
	required:true,
	},
	{
	label:'Пароль',
	labelFor:'password',
	type:'text',
	name:'password',
	id:'password',
	placeholder:'Введите пароль',
	required:true,
	}
	],
	'Войти',
	'sign-up.pug',
	'Нет аккаунта?'
	)
