form.form.send-message-form
	button.button.send-message-form__attach-button
		include ../clip-icon/clip-icon
	input.send-message-form__input(type='text' name='message')
	button.button.send-message-form__submit-button
		include ../arrow-icon/arrow-icon
