.send-message-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &__input {
    width: 649px;
    min-height: 32px;
    background: #efefef;
    border-radius: 30px;
    border: transparent;
    padding-left: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #1e1e1e;
    &:focus {
      outline: transparent;
      border: 1px solid #3369f3;
    }
    &.input-error {
      outline: transparent;
      border: 1px solid red;
    }
  }
  &__submit-button {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #ffffff;
    height: 37px;
    border: none;
    width: 100%;
    background: #3369f3;
    border-radius: 8px;
    margin-left: 8px;
  }
}
