extends ../layout/layout
block title
	title Изменить пароль
block content
	.profile 
		include ../components/profile-avatar/profile-avatar
		.profile__form
			include ../components/change-password-profile-form/change-password-profile-form