extends ../layout/layout
block title 
	title Чат
	block content
	.chat 
		.chat-list 
			a.chat-list__profile-link(href="index.pug")='Профиль >'
			.chat-list__form-container
				include ../components/chat-search-form/chat-search-form
			ul.chat-list__chats-list
				include ../components/single-chat/single-chat
				+single-chat([
					{
						avatarLink:'https://avatarko.ru/img/kartinka/33/muzhchina_kapyushon_33779.jpg',
						senderName:'Krasotun',
						messageText:'Привет, это сообщение от Красотуна',
						messageTime:'18:25',
						unreadMessages:3,
					},
					{
						avatarLink:'https://avatarko.ru/img/kartinka/22/volk_21233.jpg',
						senderName:'Марат',
						messageText:'Как дела?',
						messageTime:'16:45',
						unreadMessages:4,
					},
					{
						avatarLink:'https://avatarko.ru/img/kartinka/28/cherep_korona_27064.jpg',
						senderName:'Антоха',
						messageText:'Срочно позвони!!!',
						messageTime:'15:25',
						unreadMessages:4,
					},
					{
						avatarLink:'https://avatarko.ru/img/kartinka/28/muzhchina_motocikl_27626.jpg',
						senderName:'Стас',
						messageText:'Сам такой :)',
						messageTime:'14:11',
						unreadMessages:5,
					},
					{
						avatarLink:'https://avatarko.ru/img/kartinka/26/devushka_igra_25173.jpg',
						senderName:'Наталья Павловна',
						messageText:'Молодой человек, если Вы будете прогуливать занятия мы будем вынуждены Вас отчислить',
						messageTime:'10:01',
						unreadMessages:2,
					},
					{
						avatarLink:'https://avatarko.ru/img/kartinka/33/devushka_spinoj_more_34496.jpg',
						senderName:'Настя',
						messageText:'Я занята, потом напишу (нет)',
						messageTime:'Пн',
						unreadMessages:1,
					},
					{
						avatarLink:'https://avatarko.ru/img/kartinka/9/muzhchina_shlyapa_8746.jpg',
						senderName:'Пашка',
						messageText:'Давай на футбол сходим на выходных',
						messageTime:'Вс',
						unreadMessages:1,
					},
				])
		.chat-window
			header.chat-window__header
				.chat-window__left-block 
					img.single-chat__avatar(src='https://avatarko.ru/img/kartinka/33/muzhchina_kapyushon_33779.jpg' alt='Krasotun')
					p.single-chat__sender-name Krasotun
				include ../components/more-icon/more-icon
			.chat-window__content
				include ../components/chat-messages-list/chat-messages-list
				+chat-messages-list('11 августа')
			footer.chat-window__footer
				include ../components/send-message-form/send-message-form