extends ../layout/layout
block title
	title Редактировать профиль пользователя
block content
	.profile 
		include ../components/profile-avatar/profile-avatar
		.profile__form
			include ../components/edit-profile-form/edit-profile-form