extends ../layout/layout
block title
	title Профиль пользователя
block content
	.profile 
		include ../components/profile-avatar/profile-avatar
		.profile__form
			include ../components/view-profile-form/view-profile-form
		include ../components/profile-links/profile-links
		+profile-links([
			{
				link:'index.pug',
				text:'Изменить данные'
			},
			{
				link:'index.pug',
				text:'Изменить пароль'
			},
			{
				link:'chat.pug',
				text:'Вернуться в чат'
			},
			{
				link:'index.pug',
				text:'Выход'
			},
		])
