extends ../layout/layout
block title
	title Профиль пользователя
block content
	.profile 
		.profile__avatar
			img.profile__avatar-image(src='https://avatarko.ru/img/kartinka/33/muzhchina_kapyushon_33779.jpg' alt='Krasotun')
			p.profile__user-name Krasotun
		.profile__form
			p form works! 
		.profile__links
			a.profile__link(href='index.pug') Изменить данные
			a.profile__link(href='index.pug') Изменить пароль
			a.profile__link(href='chat.pug') Вернуться в чат
			a.profile__link.profile__link_red(href='index.pug') Выйти