.sign {
  &-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    &__title {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      margin-bottom: 40px;
      color: #1e1e1e;
    }
    &__top-container {
      display: flex;
      flex-direction: column;
    }
    &__container {
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
      border-radius: 12px;
      height: 450px;
      padding: 30px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
    }
    &__input-container {
      position: relative;
    }
    &__input {
      margin-top: 52px;
      height: 30px;
      border: transparent;
      border-bottom: 1px #e8e8e8 solid;
      &_error {
        border-bottom: 1px red solid;
      }
      &:focus {
        outline: transparent;
        border-bottom: 1px solid #3369f3;
      }
    }
    &__label {
      position: absolute;
      left: 0;
      bottom: 40px;
      font-style: normal;
      font-weight: 500;
      font-size: 9px;
      line-height: 9px;
      color: #999999;
    }
    &__submit-button {
      background: #3369f3;
      border-radius: 8px;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
      text-align: center;
      color: #ffffff;
      height: 37px;
      border: none;
      width: 100%;
    }
    &__link {
      margin-top: 14px;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 11px;
      color: #3369f3;
      text-decoration: none;
    }
    &__bottom-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
}
