.header {
  display: flex;
  padding: 10px;
  gap: 10px;
  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
    color: #3369f3;
    text-decoration: none;
  }
}
