include ../profile-form/profile-form
+profile-form([
{
	label:'Логин',
	labelFor:'login',
	type:'text',
	name:'login',
	id:'login',
	placeholder:'Введите логин',
	required:true,
	disabled:true,
	},
	{
	label:'Пароль',
	labelFor:'password',
	type:'password',
	name:'password',
	id:'password',
	placeholder:'Введите пароль',
	required:true,
	}	
	], true)