include ../profile-form/profile-form
+profile-form([
{
	label:'Старый пароль',
	labelFor:'oldPassword',
	type:'password',
	name:'oldPassword',
	id:'oldPassword',
	placeholder:'********',
	required:true,
	disabled:false,
	},
{
	label:'Новый пароль',
	labelFor:'newPassword',
	type:'password',
	name:'newPassword',
	id:'newPassword',
	placeholder:'********',
	required:true,
	disabled:false,
	},
{
	label:'Подтвердите новый пароль',
	labelFor:'confirmNewPassword',
	type:'password',
	name:'confirmNewPassword',
	id:'confirmNewPassword',
	placeholder:'********',
	required:true,
	disabled:false,
	},
	], true)